In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# e + 00 없애기
pd.options.display.float_format = '{:.1f}'.format
# 모든 행 출력
pd.set_option('display.max_rows', None)

In [133]:
# 출처: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36
US_covid19 = pd.read_csv("/content/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv")
US_covid19 = US_covid19.sort_values(by=["submission_date"], axis=0)
US_covid19 = US_covid19.reset_index(drop=True)
US_covid19.head(10)
# tot_cases : 누적 확진자 수
# new_cases : 일일 확진자 수

  submission_date state  ...  consent_cases  consent_deaths
0      2020-01-22    NM  ...            NaN       Not agree
1      2020-01-22    KY  ...          Agree           Agree
2      2020-01-22    OR  ...          Agree           Agree
3      2020-01-22    WY  ...          Agree           Agree
4      2020-01-22    ID  ...          Agree           Agree
5      2020-01-22    WA  ...            NaN             NaN
6      2020-01-22    MO  ...      Not agree       Not agree
7      2020-01-22    NC  ...          Agree           Agree
8      2020-01-22    VA  ...          Agree           Agree
9      2020-01-22    ME  ...          Agree           Agree

[10 rows x 15 columns]

In [134]:
# 출처: https://data.cdc.gov/Vaccinations/COVID-19-Vaccinations-in-the-United-States-Jurisdi/unsk-b7fc
US_vacc = pd.read_csv("/content/COVID-19_Vaccinations_in_the_United_States_Jurisdiction.csv")
US_vacc = US_vacc.sort_values(by=["Date"], axis=0)
US_vacc = US_vacc.reset_index(drop=True)
US_vacc.head(10)
# Administered: 수혜자가 거주하는 관할 구역에 따라 최소 1회 접종을 받은 사람의 총 수
# Series_Complete_Yes : 수혜자가 거주하는 관할 구역을 기준으로 완전 예방 접종을 받은 사람의 총 수(2회 접종 백신 2차 접종 또는 1회 접종 백신 1회 접종)

         Date  ...  Series_Complete_FedLTC_Unknown
0  2020-12-13  ...                               0
1  2020-12-13  ...                               0
2  2020-12-13  ...                               0
3  2020-12-13  ...                               0
4  2020-12-13  ...                               0
5  2020-12-13  ...                               0
6  2020-12-14  ...                               0
7  2020-12-14  ...                               0
8  2020-12-14  ...                               0
9  2020-12-14  ...                               0

[10 rows x 69 columns]

In [135]:
covid19_data = US_covid19.groupby("submission_date")["tot_cases","new_case"].sum()
covid19_data.head(10)
# covid19_data.tail(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                 tot_cases  new_case
submission_date
2020-01-22              33        33
2020-01-23              35         2
2020-01-24              36         1
2020-01-25              39         3
2020-01-26              42         3
2020-01-27              43         1
2020-01-28              44         1
2020-01-29              45         1
2020-01-30              47         2
2020-01-31              51         4

In [136]:
vacc_data = US_vacc.groupby("Date")["Administered","Series_Complete_Yes"].sum()
vacc_data = vacc_data[vacc_data.Administered != 0]
vacc_data.head(10)
# vacc_data.tail(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            Administered  Series_Complete_Yes
Date
2020-12-14          1018                    0
2020-12-15         25276                    0
2020-12-16        103268                    0
2020-12-17        254684                    0
2020-12-18        508284                    0
2020-12-19        883300                    0
2020-12-20       1303663                    0
2020-12-21       1603767                    0
2020-12-22       1983692                    0
2020-12-23       2741599                    0

In [137]:
# 2020-12-14부터
# 2021-07-31까지
covid19_data = covid19_data["2020-12-14":"2021-07-31"]
vacc_data = vacc_data["2020-12-14":"2021-07-31"]
print(covid19_data.shape, vacc_data.shape)

(230, 2) (230, 2)

In [138]:
# 두 데이터 합치기
US_covid19_vacc_data = pd.concat([covid19_data, vacc_data],axis=1)
US_covid19_vacc_data.head(30)
# US_covid19_vacc_data.tail(30)

            tot_cases  new_case  Administered  Series_Complete_Yes
2020-12-14   16962188    189396          1018                    0
2020-12-15   17158435    196247         25276                    0
2020-12-16   17395353    236918        103268                    0
2020-12-17   17640932    245579        254684                    0
2020-12-18   17882323    241391        508284                    0
2020-12-19   18089364    207041        883300                    0
2020-12-20   18266599    177235       1303663                    0
2020-12-21   18439052    172453       1603767                    0
2020-12-22   18636716    197664       1983692                    0
2020-12-23   18876814    240098       2741599                    0
2020-12-24   19099644    222830       3439504                    0
2020-12-25   19249751    150107       4115853                    0
2020-12-26   19401634    151883       4433001                    0
2020-12-27   19517142    115508       4564760                    0
2020-12-28   19703656    186514       4884299                    0
2020-12-29   19924293    220637       5548984                    0
2020-12-30   20199121    274828       6496853                    0
2020-12-31   20475872    276751       7712757                    0
2021-01-01   20683324    207452       8611185                    0
2021-01-02   20907260    223936       9208860                    0
2021-01-03   21084416    177156       9627378                    0
2021-01-04   21277049    192633      10140739                    0
2021-01-05   21526395    249346      10878916                    0
2021-01-06   21816680    290285      12161595                    0
2021-01-07   22112567    295887      13714673                    0
2021-01-08   22407859    295292      15545536                    0
2021-01-09   22657654    249795      17243018                    0
2021-01-10   22862839    205185      18780252                    0
2021-01-11   23050669    187830      19663344                    0
2021-01-12   23262158    211489      20792808                    0

In [ ]:
# 출처: https://ourworldindata.org/covid-vaccinations?country=USA
owid_covid_data = pd.read_csv("/content/owid-covid-data.csv")
owid_covid_data.head(10)

In [131]:
# US_total_data = owid_covid_data.loc[(owid_covid_data["location"] == "United States")]
US_total_data = owid_covid_data[owid_covid_data["location"] == "United States"]
US_total_data = US_total_data.reset_index(drop=True)
US_total_data.to_csv("/content/US_total_data.csv")
US_total_data.head(10)

  iso_code      continent  ... human_development_index excess_mortality
0      USA  North America  ...                     0.9              nan
1      USA  North America  ...                     0.9              nan
2      USA  North America  ...                     0.9              nan
3      USA  North America  ...                     0.9              nan
4      USA  North America  ...                     0.9              0.8
5      USA  North America  ...                     0.9              nan
6      USA  North America  ...                     0.9              nan
7      USA  North America  ...                     0.9              nan
8      USA  North America  ...                     0.9              nan
9      USA  North America  ...                     0.9              nan

[10 rows x 60 columns]

In [130]:
KR_total_data = owid_covid_data[owid_covid_data["location"] == "South Korea"]
KR_total_data = KR_total_data.reset_index(drop=True)
KR_total_data.to_csv("/content/KR_total_data.csv")
KR_total_data.head(10)

  iso_code continent  ... human_development_index excess_mortality
0      KOR      Asia  ...                     0.9              nan
1      KOR      Asia  ...                     0.9              nan
2      KOR      Asia  ...                     0.9              nan
3      KOR      Asia  ...                     0.9              nan
4      KOR      Asia  ...                     0.9              nan
5      KOR      Asia  ...                     0.9              8.0
6      KOR      Asia  ...                     0.9              nan
7      KOR      Asia  ...                     0.9              nan
8      KOR      Asia  ...                     0.9              nan
9      KOR      Asia  ...                     0.9              nan

[10 rows x 60 columns]

속성 : \
date : 날짜 \
total_cases: 누적 확진자 수 \
new_cases : 당일 확진자 수 \
population : 인구 수 \
people_vaccinated : 누적 백신 접종자 수 \
people_fully_vaccinated: 백신 접종 완료자 수 \
new_vaccinations : 당일 백신 접종자 수 \

In [125]:
US_covid_vacc = US_data.loc[:, ["date", "total_cases", "new_cases", "population", "people_vaccinated", "people_fully_vaccinated", "new_vaccinations"]]
US_covid_vacc = US_covid_vacc.reset_index(drop=True)
US_covid_vacc.to_csv("/content/US_covid_vacc.csv")
US_covid_vacc.head(10)

         date  total_cases  ...  people_fully_vaccinated  new_vaccinations
0  2020-01-22          1.0  ...                      nan               nan
1  2020-01-23          1.0  ...                      nan               nan
2  2020-01-24          2.0  ...                      nan               nan
3  2020-01-25          2.0  ...                      nan               nan
4  2020-01-26          5.0  ...                      nan               nan
5  2020-01-27          5.0  ...                      nan               nan
6  2020-01-28          5.0  ...                      nan               nan
7  2020-01-29          6.0  ...                      nan               nan
8  2020-01-30          6.0  ...                      nan               nan
9  2020-01-31          8.0  ...                      nan               nan

[10 rows x 7 columns]

In [126]:
us_data = US_covid_vacc.dropna(subset=["people_vaccinated"])
us_data = us_data.reset_index(drop=True)
us_data = us_data.fillna(0)
print(us_data[us_data["date"] == "2021-07-31"].index)

us_data = us_data[: 188 + 1]
us_data.to_csv("/content/us_data.csv")
us_data.head(10)

Int64Index([206], dtype='int64')

         date  total_cases  ...  people_fully_vaccinated  new_vaccinations
0  2020-12-20   17955653.0  ...                      0.0               0.0
1  2020-12-21   18154356.0  ...                      0.0           57909.0
2  2020-12-23   18582087.0  ...                      0.0               0.0
3  2020-12-26   19100538.0  ...                      0.0               0.0
4  2020-12-28   19430535.0  ...                      0.0               0.0
5  2020-12-30   19864644.0  ...                      0.0               0.0
6  2021-01-02   20554622.0  ...                      0.0               0.0
7  2021-01-04   20947480.0  ...                      0.0               0.0
8  2021-01-05   21182522.0  ...                      0.0          273209.0
9  2021-01-06   21438159.0  ...                      0.0          470328.0

[10 rows x 7 columns]

In [127]:
KR_covid_vacc = KR_data.loc[:, ["date", "total_cases", "new_cases", "population", "people_vaccinated", "people_fully_vaccinated", "new_vaccinations"]]
KR_covid_vacc = KR_covid_vacc.reset_index(drop=True)
KR_covid_vacc.to_csv("/content/KR_covid_vacc.csv")
KR_covid_vacc.head(10)

         date  total_cases  ...  people_fully_vaccinated  new_vaccinations
0  2020-01-21          nan  ...                      nan               nan
1  2020-01-22          1.0  ...                      nan               nan
2  2020-01-23          1.0  ...                      nan               nan
3  2020-01-24          2.0  ...                      nan               nan
4  2020-01-25          2.0  ...                      nan               nan
5  2020-01-26          3.0  ...                      nan               nan
6  2020-01-27          4.0  ...                      nan               nan
7  2020-01-28          4.0  ...                      nan               nan
8  2020-01-29          4.0  ...                      nan               nan
9  2020-01-30          4.0  ...                      nan               nan

[10 rows x 7 columns]

In [129]:
kr_data = KR_covid_vacc.dropna(subset=["people_vaccinated"])
kr_data = kr_data.reset_index(drop=True)
kr_data = kr_data.fillna(0)
print(kr_data[kr_data["date"] == "2021-07-31"].index)
kr_data = kr_data[: 133 + 1]
kr_data.to_csv("/content/kr_data.csv")
kr_data.head(10)

Int64Index([155], dtype='int64')

         date  total_cases  ...  people_fully_vaccinated  new_vaccinations
0  2021-02-26      89321.0  ...                      0.0               0.0
1  2021-02-27      89676.0  ...                      0.0            1424.0
2  2021-02-28      90031.0  ...                      0.0             864.0
3  2021-03-01      90372.0  ...                      0.0            1475.0
4  2021-03-02      90816.0  ...                      0.0           66414.0
5  2021-03-03      91240.0  ...                      0.0           69437.0
6  2021-03-04      91638.0  ...                      0.0           70340.0
7  2021-03-05      92055.0  ...                      0.0           70456.0
8  2021-03-06      92471.0  ...                      0.0           18008.0
9  2021-03-07      92817.0  ...                      0.0            2075.0

[10 rows x 7 columns]