In [1]:
import requests #http에 요청을 보낼 때 사용
from bs4 import BeautifulSoup as bs#html정보를 filtering하기 위해 사용
import datetime

In [2]:
vaccinInfo_Url = "https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000"
checkResponse = requests.get(vaccinInfo_Url)
htmlInfo = bs(checkResponse.content, "html.parser")
#htmlInfo

In [3]:
vaccinInfo = htmlInfo.find_all("td", class_="ta_r") #1회차 접종:[당일실적, 당일 누계], 2회차 접종:[당일실적, 당일 누계]
print(vaccinInfo)

[<td class="ta_r">39,795</td>, <td class="ta_r">3,640,808</td>, <td class="ta_r">4,188</td>, <td class="ta_r">1,329,899</td>, <td class="ta_r">15,738</td>, <td class="ta_r">1,350,732</td>, <td class="ta_r">382</td>, <td class="ta_r">477,789</td>, <td class="ta_r">10,673</td>, <td class="ta_r">846,936</td>, <td class="ta_r">197</td>, <td class="ta_r">309,059</td>, <td class="ta_r">14,748</td>, <td class="ta_r">1,029,393</td>, <td class="ta_r">402</td>, <td class="ta_r">360,899</td>, <td class="ta_r">6,998</td>, <td class="ta_r">549,351</td>, <td class="ta_r">214</td>, <td class="ta_r">204,413</td>, <td class="ta_r">5,864</td>, <td class="ta_r">522,959</td>, <td class="ta_r">143</td>, <td class="ta_r">197,573</td>, <td class="ta_r">5,117</td>, <td class="ta_r">396,230</td>, <td class="ta_r">72</td>, <td class="ta_r">124,831</td>, <td class="ta_r">2,068</td>, <td class="ta_r">109,016</td>, <td class="ta_r">69</td>, <td class="ta_r">37,618</td>, <td class="ta_r">58,132</td>, <td class="ta_r">4,625,726</td>, <td class="ta_r">5,744</td>, <td class="ta_r">1,636,240</td>, <td class="ta_r">4,688</td>, <td class="ta_r">668,033</td>, <td class="ta_r">161</td>, <td class="ta_r">273,243</td>, <td class="ta_r">6,385</td>, <td class="ta_r">638,664</td>, <td class="ta_r">202</td>, <td class="ta_r">240,701</td>, <td class="ta_r">7,656</td>, <td class="ta_r">848,897</td>, <td class="ta_r">280</td>, <td class="ta_r">330,571</td>, <td class="ta_r">6,600</td>, <td class="ta_r">788,523</td>, <td class="ta_r">181</td>, <td class="ta_r">311,942</td>, <td class="ta_r">6,152</td>, <td class="ta_r">858,860</td>, <td class="ta_r">245</td>, <td class="ta_r">344,277</td>, <td class="ta_r">8,512</td>, <td class="ta_r">1,070,140</td>, <td class="ta_r">400</td>, <td class="ta_r">409,725</td>, <td class="ta_r">12,444</td>, <td class="ta_r">1,249,007</td>, <td class="ta_r">313</td>, <td class="ta_r">464,102</td>, <td class="ta_r">2,713</td>, <td class="ta_r">250,845</td>, <td class="ta_r">147</td>, <td class="ta_r">93,040</td>]

In [4]:
cityInfo = htmlInfo.find_all("th", scope="row")
print(cityInfo)

[<th scope="row">당일 누적<span class="r_txt_descript clr_1">A</span> + <span class="r_txt_descript clr_2">B</span></th>, <th scope="row">당일 실적<span class="r_txt_descript clr_1">A</span></th>, <th scope="row">전일 누적<span class="r_txt_descript clr_2">B</span></th>, <th scope="row">합계</th>, <th scope="row">서울</th>, <th scope="row">부산</th>, <th scope="row">대구</th>, <th scope="row">인천</th>, <th scope="row">광주</th>, <th scope="row">대전</th>, <th scope="row">울산</th>, <th scope="row">세종</th>, <th scope="row">경기</th>, <th scope="row">강원</th>, <th scope="row">충북</th>, <th scope="row">충남</th>, <th scope="row">전북</th>, <th scope="row">전남</th>, <th scope="row">경북</th>, <th scope="row">경남</th>, <th scope="row">제주</th>]

# New Section

In [5]:
valueInfo = [eachLine.get_text().rstrip() for eachLine in vaccinInfo]
temp = list()
idx = -1
for i, value in enumerate(valueInfo):
  if i % 4 == 0: #4개 단위로 끊기 위해 %연산 사용 (1회차, 2회차)
    temp.append([])
    idx += 1
  temp[idx].append(value)

temp

[['39,795', '3,640,808', '4,188', '1,329,899'],
 ['15,738', '1,350,732', '382', '477,789'],
 ['10,673', '846,936', '197', '309,059'],
 ['14,748', '1,029,393', '402', '360,899'],
 ['6,998', '549,351', '214', '204,413'],
 ['5,864', '522,959', '143', '197,573'],
 ['5,117', '396,230', '72', '124,831'],
 ['2,068', '109,016', '69', '37,618'],
 ['58,132', '4,625,726', '5,744', '1,636,240'],
 ['4,688', '668,033', '161', '273,243'],
 ['6,385', '638,664', '202', '240,701'],
 ['7,656', '848,897', '280', '330,571'],
 ['6,600', '788,523', '181', '311,942'],
 ['6,152', '858,860', '245', '344,277'],
 ['8,512', '1,070,140', '400', '409,725'],
 ['12,444', '1,249,007', '313', '464,102'],
 ['2,713', '250,845', '147', '93,040']]

In [6]:
cityInfo = [eachLine.get_text().rstrip() for eachLine in cityInfo]
cityInfo = cityInfo[4:]
cityInfo

['서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [7]:
allResult = dict()

for city, value in zip(cityInfo, temp):
  allResult[city] = value
  
print(allResult)

{'서울': ['39,795', '3,640,808', '4,188', '1,329,899'], '부산': ['15,738', '1,350,732', '382', '477,789'], '대구': ['10,673', '846,936', '197', '309,059'], '인천': ['14,748', '1,029,393', '402', '360,899'], '광주': ['6,998', '549,351', '214', '204,413'], '대전': ['5,864', '522,959', '143', '197,573'], '울산': ['5,117', '396,230', '72', '124,831'], '세종': ['2,068', '109,016', '69', '37,618'], '경기': ['58,132', '4,625,726', '5,744', '1,636,240'], '강원': ['4,688', '668,033', '161', '273,243'], '충북': ['6,385', '638,664', '202', '240,701'], '충남': ['7,656', '848,897', '280', '330,571'], '전북': ['6,600', '788,523', '181', '311,942'], '전남': ['6,152', '858,860', '245', '344,277'], '경북': ['8,512', '1,070,140', '400', '409,725'], '경남': ['12,444', '1,249,007', '313', '464,102'], '제주': ['2,713', '250,845', '147', '93,040']}

In [12]:
import pandas as pd
column_names = ["1회차 접종 당일 실적", "1회차 접종 당일 누계", "2회차 접종 당일 실적", "2회차 접종 당일 누계"]
df = pd.DataFrame.from_dict(allResult, orient="index", columns=column_names)
fileName = str(datetime.date.today()) + "_vaccin.csv"
df.to_csv(fileName)