In [1]:
import requests
import json
import pandas as pd

**URL 생성**

In [2]:
ServiceKeyList = ["524e6361756a75613739536b6a7a54"] #서비스 키 list
KEY = '/' + ServiceKeyList[0] 
TYPE = '/' + "json"
SERVICE = '/' + "realtimeStationArrival"
START_INDEX = '/' + '0'
END_INDEX = '/' + '5'
#search할 target station을 list로 만들어서 크롤링 할 것 
statnNm = '/' + "두정" 

url = "http://swopenAPI.seoul.go.kr/api/subway" + KEY + TYPE + SERVICE + START_INDEX + END_INDEX + statnNm

**URL request 결과 확인**

In [3]:
response = requests.get(url)
response

**JSON으로 요청 결과 확인**

In [ ]:
jsonData = response.json()
#jsonData

**JSON을 table형태로 보기 위해 일반화**

In [5]:
df = pd.json_normalize(jsonData['realtimeArrivalList'])
df.head()

  beginRow endRow curPage  ...        arvlMsg2  arvlMsg3  arvlCd
0     None   None    None  ...           전역 도착        천안       5
1     None   None    None  ...   [5]번째 전역 (배방)        배방      99
2     None   None    None  ...   [7]번째 전역 (신창)        신창      99
3     None   None    None  ...           전역 도착        직산       5
4     None   None    None  ...  [19]번째 전역 (금정)        금정      99

[5 rows x 29 columns]

In [13]:
import datetime
from dateutil.tz import gettz #한국 시간대를 사용하기 위해 import
currTime = datetime.datetime.now(gettz("Asia/Seoul"))  #한국 시간대 사용

In [7]:
#csv file로 저장하기 위해 DataFrame으로 변환
df = pd.DataFrame(df)
df

  beginRow endRow curPage  ...        arvlMsg2  arvlMsg3  arvlCd
0     None   None    None  ...           전역 도착        천안       5
1     None   None    None  ...   [5]번째 전역 (배방)        배방      99
2     None   None    None  ...   [7]번째 전역 (신창)        신창      99
3     None   None    None  ...           전역 도착        직산       5
4     None   None    None  ...  [19]번째 전역 (금정)        금정      99

[5 rows x 29 columns]

In [14]:
#File명 생성
fileName = (str(currTime.year) + '-' + str(currTime.month) + '-' +
 str(currTime.day) + '|' + str(currTime.hour) + ':' + 
 str(currTime.minute) + ':' + str(currTime.second) + "|" + 
 statnNm.replace('/', '') + ".csv")

df.to_csv(fileName, mode='w')

12